<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload=function () {
            // 全局组件
            // 方式1
            var myComp=Vue.extend({
                // 必须要有一个根元素
                template:'<h1>hello component</h1>'
            });
            // 命名规范  连接使用- 不区分大小写
            Vue.component("hello",myComp);
            Vue.component("hello-world",myComp);
            // 方式二
            Vue.component('my-world',{
                template:'<h2>my world</h2>'
            });
            new Vue({
                el:'#root',
                data:{
                    flag:'my-tab',
                    flag2:'my-change1',
                    title:"my-address",
                    cur:1
                },
                components:{
                    'my-address':{
                        template:'<h3>my address</h3>'
                    },
                    'my-address2':{
                        template:"#myAddress2",
                        // 组建中的数据必须用方法定义
                        data:function(){
                            return{
                                title:"title",
                                list:[1,2,3,4]
                            }
                        }
                    },
                    'my-tab':{
                        template:"#myTab",
                        data:function(){
                            return{
                                tabTitle:['标题一','标题二','标题三'],
                                tabContent:['内容一','内容二','内容三'],
                                cur2:1
                            }
                        }
                    },
                    'my-tr':{
                        template:"#myTr"
                    },
                    'my-slot':{
                        template:"#mySlot"
                    },
                    'my-change1':{
                        template:'<h1>{{x}}</h1>',
                        data:function () {
                            return {
                                x:Math.random()
                            }
                        }
                    },
                    'my-change2':{
                        template:'<h3>{{x}}</h3>',
                        data:function () {
                            return {
                                x:Math.random()
                            }
                        }
                    }
                }
            });
        }
    </script>
    <style>
        .tab-tit li{
            padding:10px 15px;
            text-align:center;
            list-style: none;
            cursor: pointer;
            display: inline-block;
        }
        .tab-tit .active{
            color: #09f;
            border-button: 1px solid #09f;
        }
        .tab-con div{
            margin: 30px;
        }
    </style>
    <template id="myAddress2">
        <div>
            <p>{{title}}</p>
            <ul>
                <li v-for="(e,i) in list">{{e}}</li>
            </ul>
        </div>
    </template>
    <template id="myTab">
        <div>
            <ul class="tab-tit">
                <li v-for="(e,i) in tabTitle" @click="cur2=i" :class="{active:cur2===i}">{{e}}</li>
            </ul>
            <div>
                <div v-for="(e,i) in tabContent" v-show="cur2===i">{{e}}</div>
            </div>
        </div>
    </template>
    <template id="myTr">
        <tr>
            <td>aaa</td>
            <td>bbb</td>
        </tr>
    </template>
    <template id="mySlot">
        <div>
            <p>my slot</p>
<!--            空白的位置理解为插槽，可以自己去填充-->
            <slot name="s1"></slot>
            <p>xxxx</p>
            <slot name="s2"></slot>
        </div>
    </template>
</head>
<body>
    <div id="root">
<!--        创建组件-->
        <hello></hello>
        <hello-world></hello-world>
        <my-world></my-world>
        <my-address></my-address>
        <my-address2></my-address2>

        <my-tab></my-tab>
<!--        组件高级用法-->
        <table border="1">
<!--            <my-tr></my-tr>-->
<!--            is指令：这之中的内容是一个组件，按组件的方式解析-->
            <tr is="my-tr"></tr>
        </table>
<!--        插槽-->
<!--        设计模式 模板模式-->
        <my-slot>
<!--            ul这个节点的东西插入到s1中-->
            <ul slot="s1">
                <li>111</li>
                <li>222</li>
            </ul>
            <!--ul这个节点的东西插入到s2中-->
            <ul slot="s2">
                <li>aaa</li>
                <li>bbb</li>
            </ul>
        </my-slot>
<!--        动态组件-->
        <button @click="flag='my-tab'">my-tab</button>
        <button @click="flag='my-address'">my-address</button>
<!--        :is与上面的区别是 data变量-->
        <component :is="flag"></component>
<!--        状态-->
        <button @click="flag2='my-change1'">my-change1</button>
        <button @click="flag2='my-change2'">my-change2</button>
        <component :is="flag2"></component>
<!--        如果要求状态不变-->
<!--        缓存非活动组件-->
        <keep-alive>
            <component :is="flag2"></component>
        </keep-alive>
    </div>
</body>
</html>
