<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>instructions</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = function () {
            new Vue({
                el: "#root",
                data: {//vue实例所对应的html变量范围
                    msg:"hello world",
                    age:19,
                    flag:true,
                    arr:['aa','bb','cc'],
                    obj:{
                        name:"asdg",
                        id:"123"
                    },
                    lists:[
                        {name:"adsf",age:1},
                        {name:"adss",age:2},
                        {name:"dsf",age:13}
                    ]
                },
                methods:{
                    click1(){
                        this.age++;
                    },
                    decrease(){
                        this.age--;
                    },
                    showHide(){
                        this.flag=!this.flag;
                    }
                }
            })
        }
    </script>
</head>
<body>
<div id="root">
    <div>{{msg}}--{{age}}</div>
    <ul>
        <li v-for="(e,i) in arr">{{i}}:{{e}}</li>
    </ul>
    <ul>
        <li v-for="(v,k) in obj">{{k}}:{{v}}</li>
    </ul>
    <ul>
        <li v-for="(e,i) in lists">{{i}}:{{e}}:{{e.name}}</li>
    </ul>

    <button @click="click1">increase</button>
    <button @click="decrease">decrease</button>
    <!--内容显示隐藏-->
    <p v-show="flag">显示隐藏示例</p>
    <p v-show="age>18">年龄大于18岁了</p>
    <button @click="showHide">是否显示</button>
</div>
</body>
</html>
